<!DOCTYPE html>
<html>
  <head>
    <title>TVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user%>
      <script id="important-info"> window.currentUser = <%=current_user%> </script>
    <%# else %>
      <%# This is only here to test log in functionality%>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
