<!DOCTYPE html>
<html>
  <head>
    <title>MeCube</title>
    <meta propery="og:title" content="MeCube">
    <meta property="og:image" content="https://raw.githubusercontent.com/Neminem1203/Me-Cube/master/Website%20Screenshot.png">
    <meta property="og:description" content="A simple YouTube clone built to display my skills as a full-stack developer">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('sitelogo.png')%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script id="important-info"> window.currentUser=<%= render("api/users/user.json.jbuilder", user: current_user).html_safe%> </script>
    <% end %>
    <script> 
      window.meCubeLogo = "<%= image_url("sitelogo.png")%>" 
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
