<!DOCTYPE html>
<html>
  <head>
    <title>TVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script id="important-info"> window.currentUser=<%= render("api/users/user.json.jbuilder", user: current_user).html_safe%> </script>
    <% end %>
    <script> 
      window.meCubeLogo = "<%= image_url("mecubelogotest.png")%>" 
      window.defaultProfilePicture = "<%= image_url("defaultProfilePic.svg") %>" 
      window.menuIcon = "<%= image_url("menuIcon.svg") %>"
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
