<!DOCTYPE html>
<html>
  <head>
    <title>TVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script id="important-info"> window.currentUser=<%= render("api/users/user.json.jbuilder", user: current_user).html_safe%> </script>
    <% else %>
      <script>NOT LOGGED IN</script>
    <% end %>
    <script> window.meCubeLogo = "<%= image_url("mecubelogotest.png")%>" </script>
    <script> window.defaultProfilePicture = "<%= image_url("userIcon.svg") %>" </script>
    <script> window.logOutIcon = "<%= image_url("logoutIcon.svg") %>" </script>
    <script> window.githubIcon = "<%= image_url("githubIcon.svg") %>" </script>
    <script> window.linkedinIcon = "<%= image_url("linkedinIcon.svg") %>" </script>
    <script> window.channelIcon = "<%= image_url("channelIcon.svg") %>" </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
